body {
    margin: 0;
    background-color: #f2f2f2;
    color: #222222;
}

h1 {
    text-align: center;
    font-size: 3.5rem;
    /* animation: rainbow 0.1s infinite; */
    color: #000;
    margin: 2;
    word-spacing: 7px;
}

.szachownica {
    margin: 0 auto;
    max-width: 400px;
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(3, 90px);
    justify-content: center;
    border-radius: 3px;
}

.pole {
    border: 3px solid #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 800;
}

.pole:hover {
    background-color: #8CC9E6;
    cursor: pointer;
}

.krzyz::before {
    content: "X";
    color: #000;
}

.kolo::before {
    content: "O";
    color:#000
}

.ustawienia {
    text-align: center;
    margin-top: 20px;
}

.button {
    font-size: 18px;
    margin: 2;
}

.ustawienia button:hover {
    background:rgb(223, 136, 136);
}

#wynik {
    font-size: 22px;
    font-weight: bold;
}