.poczatkowy {
    color: orange;
    font-size:25px;
    width: 40%;
    text-align: center;
}

.obrazki_tytulowe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.wycentrowany {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::after {
    content: "";
    background: url("https://cdn2.vectorstock.com/i/1000x1000/67/96/retro-bike-pattern-background-vector-12726796.jpg");
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

.zaokraglony_prostokat_bialy {
    background-color: #E0F0FF;
    margin: 2%;
    border-radius: 15px;
    padding: 2%;
}

.zaokraglony_prostokat_rozowy {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: rgba(222, 193, 220, 1);
    border-radius: 10px;
}